.title {
  font-size: 2rem;
  font-weight: bold;
  color: #272626;
}

.icon {
  font-size: 2.1rem;
  color: #d14545;
  
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hamburger-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-div {
  z-index: 200;
  position: relative;
}

.cart-div:hover {
  transform: scale(1.1);
  cursor: pointer;
}


@media only screen and (max-width: 767px) {
  .cart-div {
    position: fixed;
    top: 90px;
    right: 30px;
  }
}


.cart-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #e4e6eb;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

.button-Wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.cart-item-wrapper {
  
  overflow-y: auto;
  margin-right: 20px;
}

/* Style the scrollbar */
.cart-item-wrapper::-webkit-scrollbar {
  width: 5px;
}

.cart-item-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cart-item-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.cart-item-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.cart-item {
  display: flex;
  margin: 20px;
  border: 1px solid #27292b56;
  border-radius: 10px;
  padding: 10px;
}

.item-button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.item-quantity {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  color: #d14545;
  border-radius: 100%;
  font-size: 1.4rem;
}
.remove-button {
  position: absolute;
  top: 0;
  right: -5px;
  color: #d14545;
  font-size: 1.4rem;
}

.remove-button:hover {
  transform: scale(1.2);
}


/* Move into view */
.hamburger-menu.show {
  right: 0;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .empty-cart {
    align-self: baseline;
    top: 200px;
  }
}


.cart-item img {
  width: 100px;
  height: 100px;
  padding: 10px;
  object-fit: contain;
  margin-right: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.item-name {
  font-size: 1.2rem;
  color: #000000;
  width: 200px;
}

.item-price {
  font-size: 1.4rem;
 
  color: #070606;
}

.total-price {
  font-size: 1.4rem;
  
  color: #070606;
  margin-right: 20px;
  max-width: 130px;
  margin: 0 auto;
}
