.title {
  font-size: 2rem;
  font-weight: bold;
  color: #272626;
}

.icon {
  font-size: 2.1rem;
  color: #d14545;
  position: relative;
  left: 30px;
}
.hamburger-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon-menu {
  font-size: 2rem;
  color: #2aa2ab;
  margin-right: 2rem;
}

.cart-button {
  z-index: 300;
}
.cart-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: #c6c9ce;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

.bottom-Wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cart-item-wrapper {
  height: 700px;
  overflow-y: auto;
  margin-right: 20px;
}

/* Style the scrollbar */
.cart-item-wrapper::-webkit-scrollbar {
  width: 5px;
}

.cart-item-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cart-item-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.cart-item-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.remove-button {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
  color: #d14545;
  font-size: 1.4rem;
}

.item-quantity {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 100%;
  width: 30px;
  align-items: center;
  text-align: center;
}

/* Move into view */
.hamburger-menu.show {
  right: 0;
}
.cart-item {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px solid #27292b56;
  border-radius: 10px;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
  
  font-size: 2rem;
}

.cart-item img {
  margin-right: 20px;
  width: 92px;
  height: 92px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #000000;
  width: 200px;
}

.item-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #666;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #3c3b3b;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
}
